
    <footer class="mt-4">
        <p class="text-center text-light">&copy; 2023 My First Application</p>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/jquery.min.js"></script>
    <script src="/assets/toastr/build/toastr.min.js"></script>
