<%- include('header') %>
<body>
<%- include('navbar') %>

    <div class="card" style="margin:0px auto; width:40rem; margin-top: 120px;">
        <div class="card-header">
            Welcome to <b>EXPRESS JS</b> Home Page
        </div>
        <div class="card-body">
            This is the content of the home page.
        </div>
    </div>


<%- include('footer') %>
</body>

</html>