<!DOCTYPE html>
<html>
<link rel="stylesheet" href="/bootstrap.min.css">

<head>
    <title>My Express App</title>
</head>

<body>
    <header>
        <%- include ('header') %>

    </header>

    <main>
        <%- body %>
    </main>

    <footer>
        <% include footer %>
    </footer>
    <script src="/bootstrap.min.js"></script>
</body>

</html>